<launch>
  <arg name="primitive_list" default="[]"/>
  <arg name="skill_list" default="[goto]"/>
  <arg name="debug" default="false"/>
  <arg name="deploy" default="true"/>
  <arg name="robot_ontology_prefix" default="moveit"/>
  <arg name="robot_name" default="test_robot"/>

  <include file="$(find skiros2)/launch/skiros.launch">
      <arg name="init_scene" value="ur_scene.turtle"/>
      <arg name="reasoners_pkgs" value="[skiros2_std_reasoners]"/>
      <arg name="workspace_dir" value="$(find skiros2_moveit_lib)/owl"/>
      <arg name="libraries_list" value="[skiros2_moveit_lib]"/>
      <arg name="primitive_list" value="$(arg primitive_list)"/>
      <arg name="skill_list" value="$(arg skill_list)" />
      <arg name="robot_ontology_prefix" value="$(arg robot_ontology_prefix)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="verbose" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="deploy" value="$(arg deploy)"/>
      <arg name="gui" value="true"/>
  </include>
</launch>
